body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-90deg, #2FC5BA, #62C6C9, #2FC5BA);
    .clock_wrap{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40vw;
        height: 40vw;
        transform: translate(-50%,-50%);
        background-color: #F4F48E;
        border-radius: 100000px;
        .clock_in{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 90%;
            height: 90%;
            transform: translate(-50%,-50%);
            background-color: #fff;
            border-radius: 100000px;
            box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
            ul{
                height: 40%;
                width: 0;
                position: absolute;
                bottom: 50%;
                left: 50%;
                li{
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    -webkit-transform-origin: 50% 100%;
                    transform-origin: 50% 100%;
                    @for $i from 0 through 11{
                        &:nth-child(#{$i}){
                            transform: rotate((#{$i * 30}deg));
                            i{
                                transform: translateX(-50%) rotate((#{$i * -30}deg));
                            }
                        }
                    }
                    i{
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        font-size: 1vw;
                    }
                }
            }
            .m_span{
                position: absolute;
                top: 50%;
                left: 50%;
                height: 90%;
                width: 90%;
                transform: translate(-50%,-50%);
                span{
                    position: absolute;
                    width: 1px;
                    background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(30,87,153,0) 98%,rgba(30,87,153,1) 93%,rgba(30,87,153,1) 100%);
                    height: 100%;
                    top: 50%;
                    left: 50%;
                    @for $i from 1 through 60{
                        &:nth-child(#{$i}){
                            transform: translate(-50%,-50%) rotate((#{6*$i}deg));
                        }
                        @if($i % 5 == 0){
                            &:nth-child(#{$i}){
                                height: 105%;
                                background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0%, rgba(30, 87, 153, 0) 96%, #1e5799 93%, #1e5799 100%);
                            }
                        }
                    }
                }
            }
            .pointer_wrap{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 100%;
                height: 100%;
                .hour{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-100%);
                    width: 1px;
                    height: 30%;
                    background-color: #999999;
                    transform-origin: 50% 100%;
                }
                .minute{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-100%);
                    width: 1px;
                    height: 40%;
                    background-color: red;
                    transform-origin: 50% 100%;
                }
                .second{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-100%);
                    width: 1px;
                    height: 45%;
                    background-color: blue;
                    transform-origin: 50% 100%;
                }
                .circle{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    width: 5%;
                    height: 5%;
                    border-radius: 10000px;
                    background-color: rgb(214, 14, 14);
                    box-shadow: 0px 0px 3px 0px #000000;
                }
            }
        }
    }
}